{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 0;
    }
    .home-title {
        font-size: 2.5em;
        color: #005a9e;
        margin-top: 30px;
    }

    /* ADIÇÃO: Faz a imagem ocupar 100% da largura do contêiner */
    .home-container img {
        width: 100%; /* Faz a imagem se esticar horizontalmente */
        max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 20px; /* Opcional: Adiciona um espaço abaixo da imagem */
    }
</style>

<div class="home-container">
    <img src="{% static 'images/logo_granprix.png' %}" alt="Logo Desafio Senai">
    <h1 class="home-title">Sistema de Votação</h1>
</div>
{% endblock %}