{% extends 'core/base.html' %}
{% load static %} 

{% block content %}
<style>
    .form-group {
        margin-bottom: 20px;
    }
    .criterion-group {
        margin-bottom: 25px;
        text-align: center;
    }
    .criterion-group label {
        display: block;
        margin-bottom: 10px;
        font-weight: normal;
        line-height: 1.5;
        /* Alinhado ao centro para combinar com o input */
        text-align: center; 
    }
    .criterion-group input {
        display: block;
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }
    .form-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .submit-button-wrapper {
        text-align: center;
        margin-top: 30px;
    }
</style>

<h2 class="form-title">Formulário de Votação</h2>

{% if messages %}
  <div class="messages" style="list-style: none; padding: 0; text-align: center;">
    {% for message in messages %}
      <div class="alert alert-success" role="alert" style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; border-radius: 5px; margin-bottom: 25px; padding: 15px;">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="jurado" style="font-weight: bold;">Nome do Avaliador:</label>
        <input type="text" id="jurado" name="jurado" required>
    </div>

    <div class="form-group">
        <label for="escuderia" style="font-weight: bold;">Escuderia Avaliada:</label>
        <select id="escuderia" name="escuderia" required>
            <option value="">---------</option>
            {% for escuderia in escuderias %}
                <option value="{{ escuderia.id }}">{{ escuderia.nome }}</option>
            {% endfor %}
        </select>
    </div>
    
    <h3 class="form-title" style="margin-top: 40px;">Critérios Avaliativos</h3>

    {% for criterio in criterios %}
        <div class="criterion-group">
            <label for="nota-{{ criterio.id }}">
                {{ criterio.pergunta }} <strong>(Nota de 0 a {{ criterio.peso_maximo }})</strong>
            </label>
            <input type="number" id="nota-{{ criterio.id }}" name="nota-{{ criterio.id }}" min="0" max="{{ criterio.peso_maximo }}" required>
        </div>
    {% endfor %}
    <div class="submit-button-wrapper">
        <button type="submit">Enviar Voto</button>
    </div>

</form>
{% endblock %}